.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Header Background Icon color: #FFF2F2*/
    background-image: url("../../public/icons/calc-header-background.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.calcContainer {
    background-image: url("../../public/images/calc-background-image.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sectionColumnLeft {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.sectionColumnRight {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.input {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: .85rem;
    max-width: 175px;
}

.inputLabel {
    margin: 5px 0;
    text-align: center;
}

.checkboxText {
    font-size: .75rem;
}

.header {
    text-align: center;
    margin-top: 0;
}

.mainHeader {
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 3rem;
    padding: 30px;
    margin: 0;
}

.calculatorSection {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 0;
    background-color: white;
}

.calculatorSectionLeft {
    margin-left: 50px;
    margin-right: 25px;
}

.calculatorSectionRight {
    margin-left: 25px;
    margin-right: 50px;
}

.rehabHeader {
    text-align: center;
    margin: 0px;
}

.rehabLabel {
    text-align: center;
    margin: 0px;
}

.label {
    display: block;
    margin: 0;
}

.resultsSection {
    padding: 0 10%; 
    margin: auto;
    background-image: url("/icons/black-two-story-house.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.resultsHeader {
    font-size: 1.5rem;
    margin: 0px;
}

.resultsMainHeader {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    background-color: #500000;
    color: white;
    box-shadow: 0 8px 4px -4px grey;
    padding: 10px;
    margin-top: 0;
}

.resultsContainer {
    text-align: center;
    font-size: 1.2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    height: fit-content;
    min-width: 290px;
    background-color: white;
    border-radius: 20px;
}

.expenseBreakdownItems {
    font-size: .9rem;
    text-align: left;
}

.exportButton {
    min-width: 300px !important;
    min-height: 50px !important;
}
