.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 20px
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    border-top: solid 1px black;
    border-left: none;
    border-right: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    font-size: 1rem;
    border-radius: 40px;
    padding: 0 50px 15px 50px;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.imageContainer {
    display: flex;
}

.detailItem {
    text-align: left;
    width: 100%;
    margin: 5px;
}

.imageRounded {
    border-radius: 20px;
}