.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    caret-color: transparent;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    font-size: 1rem;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.liHeader {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
}

.detailItem {
    text-align: center;
    width: 100%;
    margin: 5px;
}

.toRow {
    display: flex;
    flex-direction: row;
}

.addressNoMargin {
    margin: 0;
}

.description {
    margin: auto;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.features {
    font-size: .85rem;
    text-align: justify;
    margin: 0
}

.website {
    text-align: center;
    margin: 5px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 300px;
    }

    .listItem {
        flex-direction: column;
        padding: 10px 10px;
    }

    .detailContainer {
        width: 100%;
    }

    .rightContainer {
        width: 100%;
    }

    .detailItem {
        font-size: .8rem;
    }

    .website {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        width: 500px;
    }

    .listItem {
        padding: 15px 50px;
    }

    .liHeader {
        font-size: 1.1rem;
    }

    .detailContainer {
        width: 60%;
    }

    .rightContainer {
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        width: 800px;
    }

    .liHeader {
        font-size: 1.5rem;
    }

    .website {
        font-size: 1rem;
    }
}