.container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    padding: 10px;
    margin: 0 0 15px 0;
    background-color: white;
}

.header {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input {
    height: 40px;
    text-align: center;
    border: none;
    /*text-decoration: underline;*/
    background-color: rgb(249 228 228);
    border-radius: 10px;
    max-width: 90%;
}

.label {
    display: block;
    margin: 0px;
}

.inputLabel {
    margin: 0px;
    text-align: center;
    margin-top: 10px;
}

.button {
    background-color: #500000;
    opacity: 1;
    color: white;
    font-family: inherit;
    font-weight: 200;
    line-height: 0;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid transparent;
    transition: 0.3s;
    padding: 5px;
    margin: 10px;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    margin-top: 10px;
}

.button:hover {
    opacity: 0.75;
}

.marginTop {
    margin-top: 10px;
}

@media only screen and (max-width: 375px) {
    .header {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    
    .input {
        height: 40px;
        font-size: .9rem;
    }

    .topRow {
        flex-direction: column;
    }
}

@media only screen and (min-width: 375px) {
    .input {
        font-size: 1.2rem;
    }

    .topRow {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .topRow {
        flex-direction: row;
    }
}



@media only screen and (min-width: 800px) {
    .input {
        font-size: 1.5rem;
    }

    .button {
        width: 150px;
        height: 50px;
        font-size: 1.4rem;
    }
}


