.container {
    display: flex;
    place-content: center;
    padding: 5px 0 20px 0;
}

.topContainer {
    display: flex;
    place-content: center;
    padding: 0px;
}

.padding {
    padding: 0 30px;
}

.imageRounded {
    border-radius: 50%;
}

.vertCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        place-content: center;
        padding: 5px;
    }

    .topContainer {
        font-size: 16px;
        text-align: center;
        font-weight: 100;
    }

    .noMargin {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
