.container {
    background-color: #500000;
    display: flex;
    place-content: center;
    padding: 5px 0 20px 0;
}

.topContainer {
    background-color: #500000;
    display: flex;
    /*place-content: center;*/
    flex-direction: column;
    padding: 0px;
    color: white;
    text-align: center;
}

.imageRounded {
    border-radius: 50%;
}

.vertCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {
    .container {
        display: flex;
        place-content: center;
        padding: 5px;
    }

    .topContainer {
        font-size: 16px;
        text-align: center;
        font-weight: 200;
    }

    .noMargin {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .padding {
        padding: 0 10px;
    }
}

.mobileImagesRow {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mobileImage {
    margin: 0 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 750px) {
    .padding {
        padding: 0 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
