.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Header Background Icon color: #FFF2F2*/
    background-image: url("../public/icons/bank-header-background.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.listView {
    background-image: url("../public/images/bank-background-image.jpg");
    background-position: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
