.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Header Background Icon color: #FFF2F2*/
    background-image: url("../public/icons/software-header-background.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.listView {
    background: url("../public/images/softwares-background-2.jpg") no-repeat center center fixed;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
