.primaryButton {
    background-color: #500000;
    opacity: 1;
    color: white;
    font-family: inherit;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 0;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid transparent;
    transition: 0.3s;
    padding: 5px;
    margin: 10px;
}

.primaryButton:hover {
    opacity: 0.75;
}

.buttonText {
    text-align: center;
    padding-right: 10px;
}

.buttonImage {
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    .primaryButton {
        min-width: 210px;
        min-height: 30px;
        font-size: 1rem;
    }

    .buttonImage {
        display: none;
    }

    .buttonText {
        text-align: center;
        padding-right: 0;
    }
}

@media only screen and (min-width: 600px) {
    .primaryButton {
        min-width: 400px;
        min-height: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .primaryButton {
        min-width: 500px;
        min-height: 80px;
    }
}

@media only screen and (min-width: 1200px) {
}