.primaryButton {
    background-color: #500000;
    opacity: 1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 0;
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    transition: 0.3s;
    padding: 5px;
    margin: 10px;
    min-width: 200px;
}

.primaryButton:hover {
    opacity: 0.75;
}

.buttonText {
    text-align: center;
    width: 100%;
}

.buttonImage {
    padding-left: 10px;
}


