
.container {
    height: auto;
    position: absolute;
    display: flex;
    right: 0;
    height: 100%;
    min-width: 50%;
    z-index: 1;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.li {
    display: inline-block;
    width: 100%;
}

.link {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: 500;
}

.link:active, .link:hover {
    color: white;
    background-color: #500000;
    text-decoration: none;
}

.navLinks {
    float: right;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title {
        font-size: 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
